.cart-container{
    padding: 30px 135px;
}

.my-cart{
    padding: 15px 24px;
    background-color: white;
}

.place-order-btn-container{
    padding: 16px 22px ;
    background-color: white;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
    border-top: 1px solid #f0f0f0;
}

