.search-container{
    background: white;
    width:36%;
    border-radius: 3px;
    margin-left: 6px;
    display: flex;
}

.search-place-holder{
    padding-left: 20px;
    width:100%;
}

.search-icon{
    color:blue;
    padding: 5px;
}