.app-headerStylesbar{
    background : #2874f0;
   height:55px;
}

.app-bar{
    position: fixed;
}

.brand-logo{
    width: 75px;
    margin-left: 200px;
}

.explore-logo{
    margin-left: 200px;
    line-height: 0; /*reduces space between line vertically*/
    font-size: 12px;
    margin-top: -10px;
    font-style: italic;
    display: flex;
}
.plus-img{
    width: 10px;
    height: 10px;
    margin-top: 8px;
}