.profile-container{
    display: flex;
    /* justify-content: center; */
    height: auto;
    margin: 4px 120px;
    position: relative;
    padding: 14px 64px;
}

.profile-catagory ul{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow:0 1px 1px 0 rgba(0,0,0,.16);
    margin-bottom: 0;
    padding:12px 0;
}

.profile-catagory ul li{
    margin:0 35px;
    list-style-type: none;
    font-weight: 600;
}
.left-profile{
    padding-right: 15px;
    width: 25%;
    
}
.right-profile{
    background-color: white;
    width: 75%;
    padding:20px 40px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.user-name{
   background-color: white;
   height: 10vh;
   margin-bottom: 15px;
}

.orders{
   background-color: white;
   height :auto;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

.personal-info{
   background-color: white;
   height: 100%;
   width: 75%;
   padding-left: 16px;
}

.personal-info-section{
    font-weight: 600;
}

.user-name{
   display: flex;
   align-items: center;
   justify-content: left;
   padding:0 20px;
}

.user-name .name-text p:nth-child(1){
    /* flex-direction: column; */
    margin: 0;
    font-size:14px;
    font-weight: 600;
}
.user-name .name-text p:nth-child(2){
    /* flex-direction: column; */
    margin: 0;
    font-size:18px;
    font-weight: 700;
}

.profile-logo img{
    height: 50px;
    width: 50px;
    align-items: center;
    margin-right: 15px;
}

.title{
    padding-left: 25px;
    display: flex;
    align-items: center;
    border-top:1px solid rgb(135, 135, 135,0.2);
}
.title span:nth-child(1){
    margin-top: 10px;
    color: #1976d2;
}
.title span:nth-child(2){
    padding: 0 0 12px 20px;
    font-size: 16px;
    color: #878787;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 600;
}

.feature-list li{
    margin-left: 0;
    list-style-type: none;
    font-size:14px;
    font-family: Roboto,Arial,sans-serif;
    cursor: pointer;
    padding: 12px 6px 12px 35px;
    color: #212121;
}

.feature-list li:hover{
    color: #1976d2;
    background-color: rgba(146, 200, 255, 0.1);
    
}
.input-feild{
    border-radius: 2px;
    background-color: #FAFAFA;
    padding: 16px;
    color: rgb(135, 135, 135,0.5);
    width: 25%;
    margin-right: 10px;
    font-size: 16px;
}
.input-feild:nth-child(1){
    margin-bottom: 20px;
}
.gender-section{
    display: flex;
    color:rgb(135, 135, 135);

}

.save-btn{
    margin: 25px 5px;
    padding: 15px 35px;
    background-color:white;
    color: #1976d2;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
}
.save-btn:active{
    background-color: rgb(25, 118, 210,0.1);
    transform: translateY(2px);
    
}
.edit-span{
    color:#1976d2;
    font-size: 17px;
    cursor: pointer;
    margin-left: 20px;
}
.on-edit-click{
    background-color: white;
    border-radius: 2px;
    padding: 16px;
    color: black;
    width: 25%;
    margin-right: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

