.nav-catagory{
    display: flex;
    margin:55px 0 0 0;  
    justify-content: center;
    background-color: white;
}

.catagory-img{
    width: 80px;
    margin:0 20px;
    filter: drop-shadow(10px 10px 15px gold);
    border-radius: 50%;
    background-color: rgba(255, 215, 0,0.2);
}

.catagory-caption{
    margin-top: auto;
    margin-left: 26px;
    font-size: 14px;
    font-weight: 600; 
}

.catagory-container{
    padding: 12px 8px;
}