.payment-container {
    background-color: white;
    padding: 20px 144px;
    margin: 25px 200px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #3f51b5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #1e2c5c;
  }
  
  @media (max-width: 768px) {
    .payment-container {
      padding: 20px;
      margin: 25px 20px;
    }
  
    form {
      width: 100%;
    }
  
    .logo {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  }
  