.slide-container{
    margin-top: 12px;
} 

.slide-container div p{
    padding:15px 20px;
    font-size: 25px;
    font-weight: 550;
    font-family: Roboto, Arial, sans-serif ;
}

.slide-container Button{
    /* background-color: #2874f0; */
    height: 40px;
    padding:15px 20px;
    margin-right: 20px;
    font-weight: 600;
}
  
.slide-container div:first-child{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.view-btn-bar{
    height: 70px;
    align-items: center;
}
.slide-container div:nth-child(2){
    background-color: white;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.titles span{
   margin: 3px 0;
   font-weight: 600;
   font-size: 14px;

}
.titles span:nth-child(2){
   color:green;
}
.titles span:nth-child(3){
   color:rgba(128, 128, 128,0.8);
}

.products-imgs {
    text-align: center;
    padding: 10px;
  }
  

.products-imgs{
    max-width: 50%;
    max-height: 50%;
}
.products-imgs:hover{
    max-width: 55%;
    max-height: 55%;
}
